
secret.py
__pycache__/secret.cpython-37.pyc
__pycache__/secret.cpython-36.pyc
.vscode/settings.json
.vscode/launch.json
sensorglucoseresults - Kopie.xlsx
MetData_Orig1.xlsx
gfit2nsc.zip
token.json
.vs/gfit2nsc/v15/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
bak/client_secret.json.old
bak/token.json.bak
client_secret - Kopie.json
datasources.txt
